'.platform-darwin atom-workspace atom-text-editor':
  'cmd-r': 'defold-ide:hot-reload'
'.platform-linux atom-workspace atom-text-editor':
  'ctrl-r': 'defold-ide:hot-reload'
'.platform-win32 atom-workspace atom-text-editor':
  'ctrl-r': 'defold-ide:hot-reload'